// Colors
$grey: #dddddd;

// Spacing
$space: 1.4rem;

// Font sizes
$base-font-size: 1.4rem;

// Form input
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: #ffffff;

// Button
$button-bg: #5b4681;
$button-color: #ffffff;
