.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  display: block;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  padding: .3rem .8rem;
}

.button--group {
  display: flex;
}

.button--secondary {
  background: #f9f9f9;
  border: 1px solid #dddddd;
  color: #777777;
}
